In [1]:
from path import Path
import pandas as pd
from curses.ascii import isspace
import os
from itertools import groupby
import datetime
import pandas as pd
import numpy as np

In [2]:
data = Path('heart_clean.csv')
heart_df = pd.read_csv(data)
heart_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholesterol,fasting_blood_sugar,resting_ecg_results,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope_elevation,major_vessels,thal,heart_disease
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
heart_df.dtypes

age                          int64
sex                          int64
chest_pain_type              int64
resting_blood_pressure       int64
serum_cholesterol            int64
fasting_blood_sugar          int64
resting_ecg_results          int64
max_heart_rate_achieved      int64
exercise_induced_angina      int64
st_depression              float64
st_slope_elevation           int64
major_vessels                int64
thal                         int64
heart_disease                int64
dtype: object

In [4]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1025 non-null   int64
 1   sex                      1025 non-null   int64
 2   chest_pain_type          1025 non-null   int64
 3   resting_blood_pressure   1025 non-null   int64
 4   serum_cholesterol        1025 non-null   int64
 5   fasting_blood_sugar      1025 non-null   int64
 6   resting_ecg_results      1025 non-null   int64
 7   max_heart_rate_achieved  1025 non-null   int64
 8   exercise_induced_angina  1025 non-null   int64
 9   st_depression            1025 non-null   float64
 10  st_slope_elevation       1025 non-null   int64
 11  major_vessels            1025 non-null   int64
 12  thal                     1025 non-null   int64
 13  heart_disease            1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [5]:
dup_heart_df = heart_df.drop_duplicates(subset=['age','sex',"resting_blood_pressure","serum_cholesterol"])
dup_heart_df.head(25)

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholesterol,fasting_blood_sugar,resting_ecg_results,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope_elevation,major_vessels,thal,heart_disease
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
17,54,1,0,124,266,0,0,109,1,2.2,1,1,3,0
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
20,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
21,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
22,45,1,0,104,208,0,0,148,1,3.0,1,0,2,1
23,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
24,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
25,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0

In [6]:
#create unique id column of patients
dup_heart_df['id'] = dup_heart_df[['age', 'sex','resting_blood_pressure','serum_cholesterol', 'fasting_blood_sugar','max_heart_rate_achieved']].sum(axis=1).map(hash)
dup_heart_df

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholesterol,fasting_blood_sugar,resting_ecg_results,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope_elevation,major_vessels,thal,heart_disease,id
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,558
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,553
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,515
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,574
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1,514
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1,468
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0,597
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0,618
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,476

In [7]:
#sort by unique ID
final_heart_sorted_df = dup_heart_df.sort_values(by=['id'])
final_heart_sorted_df.head(25)

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholesterol,fasting_blood_sugar,resting_ecg_results,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope_elevation,major_vessels,thal,heart_disease,id
145,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0,432
32,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0,434
81,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0,443
169,45,0,1,112,160,0,1,138,0,0.0,1,0,2,1,455
708,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1,455
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1,457
369,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1,460
117,43,1,0,120,177,0,0,120,1,2.5,1,0,3,0,461
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1,468
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,476
30,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0,478
166,56,1,0,132,184,0,0,105,1,2.1,1,1,1,0,478
109,54,1,0,110,206,0,0,108,1,0.0,1,1,2,0,479
147,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0,482
254,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0,484
633,61,1,0,138,166,0,0,125,1,3.6,1,1,2,0,491
356,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0,491
353,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1,495
267,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0,496
53,49,1,2,120,188,0,1,139,0,2.0,1,3,3,0,497
159,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1,501
580,46,1,1,101,197,1,1,156,0,0.0,2,0,3,1,502
643,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1,503
183,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1,503
22,45,1,0,104,208,0,0,148,1,3.0,1,0,2,1,506

In [11]:
final_heart_sorted_df = final_heart_sorted_df.drop_duplicates(subset=['id'])
final_heart_sorted_df

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholesterol,fasting_blood_sugar,resting_ecg_results,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope_elevation,major_vessels,thal,heart_disease,id
145,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0,432
32,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0,434
81,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0,443
169,45,0,1,112,160,0,1,138,0,0.0,1,0,2,1,455
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1,457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0,749
255,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1,753
450,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0,774
123,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1,780
158,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1,906

In [12]:
final_heart_sorted_df.count()

age                        174
sex                        174
chest_pain_type            174
resting_blood_pressure     174
serum_cholesterol          174
fasting_blood_sugar        174
resting_ecg_results        174
max_heart_rate_achieved    174
exercise_induced_angina    174
st_depression              174
st_slope_elevation         174
major_vessels              174
thal                       174
heart_disease              174
id                         174
dtype: int64

In [13]:
output_file_path = "duplicates_removed_data.csv"
final_heart_sorted_df.to_csv(output_file_path, index=False)